:root {
  --msft-white: #fff;
  --msft-off-white: #f4f3f5;
  --msft-warm-white: #fff8f3;

  --msft-black: #000;
  --msft-blueblack: #091f2c;

  --msft-cool-grey: #b1b3b3;
  --msft-dark-grey: #454142;
  --msft-warm-light-grey: #e8e6df;

  /**
   * MSFT Learn Color base-palette;
   */
  --msft-orange: #ff5c39;
  --msft-light-orange: #ffa38b;
  --msft-dark-orange: #73391d;

  --msft-magenta: #c73ecc;
  --msft-light-magenta: #cd9bcf;
  --msft-dark-magenta: #702573;

  --msft-red: #f4364c;
  --msft-light-red: #ffb3bb;
  --msft-dark-red: #73262f;

  --msft-blue: #0078d4;
  --msft-light-blue: #8dc8e8;
  --msft-dark-blue: #2a446f;

  // Broader Palette
  --msft-yellow: #ffb900;
  --msft-light-yellow: #ffe399;
  --msft-green: #8de971;
  --msft-light-green: #d4ec8e;
  --msft-dark-green: #07641d;

  --msft-teal: #49c5b1;
  --msft-light-teal: #b9dcd2;
  --msft-deep-teal: #255b62;
}

.has-msft-black-color {
  color: var(--msft-black);
}

.has-msft-blue-color {
  color: var(--msft-blue);
}

.has-msft-blue-background {
  background-color: var(--msft-blue);
}

.has-msft-darkblue-color {
  color: var(--msft-dark-blue);
}

.has-msft-cool-grey-color {
  color: var(--msft-cool-grey);
}

.has-msft-dark-grey-color {
  color: var(--msft-dark-grey);
}